body {
  font-family: sans-serif;
  padding-left: 1em;
  padding-right: 1em;
}
tr:nth-child(even) {background-color: #f0f0f0;}

.ui-widget input {
  font-size: 12px;
}
.search-container {
  padding-bottom: 1em;
}
.search {
  padding: 1em;
  background-color: lightgrey;
  border-radius: 4px;
}
.search input {
  font-size: 15px;
  width: 25%;
}
.search label {
  font-size: 18px;
  font-weight: bold;
}
.field-value {
  padding-left: 1em;
  padding-right: 1em;
  width: 80%;
}
.filters-container {
  float: left;
  width: 300px;
}
.results-container {
  margin-left: 310px;
  /*border-left: 1px dotted grey;*/
  padding-left: 10px;
}
.loading {
  background: white;
  padding: 0.5em;
  border-radius: 4px;
}
.url-value {
  width: 70%;
  border: 1px dotted grey;
  color: grey;
  margin-top: 10px;
}
.controls {
  float: right;
  vertical-align: top;
  padding: 1em;
  border-left: 1px dashed white;
}
.sub-container {
  padding-bottom: 5px;
}
.sub-label {
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px dashed grey;
  margin-bottom: 3px;
}
.slider-container {
  padding-top: 10px;
  padding-bottom: 5px;
}
.hidden {
  display: none;
}
.url-container {
  float:right;
  width: 80%;
}
.url-label {
  color: grey;
}
.title {
  width: 200px;
}
.noclick {
  color: lightgrey;
  text-decoration: none;
  cursor: default;
}
.dataTable td {
  padding-right: 2px;
  padding-left: 2px;
}
.logic-group {
  border: 1px solid #333366;
  background-color: #8b9bc1;
}
.logic-group-header {
  background-color: #333366;
  font-size: small;
  font-weight: bold;
  color: white;
  border-bottom-right-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
}
.logic-group li {
  border: 1px solid black;
  list-style: none;
  padding: 5px;
  margin-top: 3px;
  border-radius: 5px;
  font-size: small;
  background-color: white;
}
.logic-group ul {
  padding: 0; margin: 0; padding: 5px;
}
.logic-connector {
  margin-left: auto;
  margin-right: auto;
  width: 1px;
  height: 10px;
  border-right: 1px solid grey;
}
.outer-logic {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: small;
  text-align: center;
}
.inner-logic {
  font-size: small;
  float:right;
}
.inner-logic span.ui-button-text {
  padding: 0;
  padding-right: 5px;
  padding-left: 5px;
}
.inner-logic label {
  border-radius: 0;
}
.add-logic-group {
  font-size: small;
  margin-top: 10px;
}

.footer {
  clear: both;
  padding-top: 1em;
}
.footer-stats {
  padding: 1em;
  font-size: small;
  background-color: #8b9bc1;
  color: white;
  border-radius: 4px;
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
  padding-left: 1em;
}
.table-controls {
  padding: 0.5em;
}
.ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.ui-accordion .ui-accordion-content {
  padding: 1em;
}
.custom-combobox- {
  padding-top: 8px;
  margin-bottom: 3px;
  vertical-align: middle;
  margin-right: 5px;
}
.small-button {
  font-size: 12px;
}
.highlight {
  background: green;
}
.piechart {
  display: inline-table;
  border-left: 1px dotted grey;
  padding: 10px;
  height: 210px;
/*  width: 200px;*/
  overflow-x: hidden;
  overflow-y: auto;
}
.nvd3.nv-noData {
  font-size: 12px;
}