body {
  font-family: sans-serif;
}
tr:nth-child(even) {background-color: #f0f0f0;}

.field-container {
  width: 450px;
  clear: both;
  padding-bottom: 2px;
}
.field-label {
  font-size: 12px;
}
.field {
  float: right;
  font-size: 12px;
  height: 16px;
}
.ui-widget input {
  font-size: 12px;
}
.search-container {
  width: 500px;
  float: left;
}
.search {
  margin-bottom: 10px;
}
.results-container {
  margin-left: 510px;
  border-left: 1px dotted grey;
  padding-left: 10px;
}
.url-value {
  width: 70%;
  border: 1px dotted grey;
  color: grey;
  margin-top: 10px;
}
.controls {
  float: right;
  vertical-align: top;
}
.sub-container {
  padding-bottom: 5px;
}
.sub-label {
  font-weight: bold;
  font-size: 12px;
  border-bottom: 1px dashed grey;
  margin-bottom: 3px;
}
.slider-container {
  padding-top: 10px;
  padding-bottom: 5px;
}
.hidden {
  display: none;
}
.url-container {
  float:right;
  width: 80%;
  margin-right: 20px;
}
.title {
  width: 200px;
}
.noclick {
  color: lightgrey;
  text-decoration: none;
  cursor: default;
}
.dataTable td {
  padding-right: 2px;
  padding-left: 2px;
}
.logic-group {
  border: 1px solid #333366;
  background-color: #8b9bc1;
}
.logic-group-header {
  background-color: #333366;
  font-size: small;
  font-weight: bold;
  color: white;
  border-bottom-right-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
}
.logic-group li {
  border: 1px solid black;
  list-style: none;
  padding: 5px;
  margin-top: 3px;
  border-radius: 5px;
  font-size: small;
  background-color: white;
}
.logic-group ul {
  padding: 0; margin: 0; padding: 5px;
}
.logic-connector {
  margin-left: auto;
  margin-right: auto;
  width: 1px;
  height: 20px;
  border-right: 1px dashed grey;
}
.outer-logic {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: small;
  text-align: center;
}
.inner-logic {
  font-size: small;
  float:right;
}
.inner-logic span.ui-button-text {
  padding: 0;
  padding-right: 5px;
  padding-left: 5px;
}
.inner-logic label {
  border-radius: 0;
}
.add-logic-group {
  font-size: small;
  margin-top: 10px;
}

.footer {
  clear: both;
  padding-top: 1em;
}
.footer-stats {
  padding: 1em;
  font-size: small;
  background-color: #8b9bc1;
  color: white;
  border-radius: 4px;
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
  padding-left: 1em;
}
.table-controls {
  padding: 0.5em;
}
