<?xml version="1.0"  encoding="ISO-8859-1"?>

<!--Config for VEP Mart-->

<config>
    <fields>
        <group name="Variation">
            <sub name="Other">
                <field name="Uploaded_variation" label="Variation name (e.g. rs123)" header="ID"/>
                <field name="Allele" label="Alternate allele" header="Allele"/>
                <field name="CLIN_SIG" label="Clinical significance" header="Clinical"/>
            </sub>
            <sub name="Frequency">
                <field name="GMAF" label="Global minor allele frequency" header="GMAF" range="0,0.5"/>
                <field name="AFR_MAF" label="1000 genomes African MAF" header="AFR" range="0,0.5"/>
                <field name="AMR_MAF" label="1000 genomes American MAF" header="AMR" range="0,0.5"/>
                <field name="ASN_MAF" label="1000 genomes Asian MAF" header="ASN" range="0,0.5"/>
                <field name="EUR_MAF" label="1000 genomes European MAF" header="EUR" range="0,0.5"/>
                <field name="AA_MAF" label="NHLBI-ESP African American MAF" header="AA" range="0,0.5"/>
                <field name="EA_MAF" label="NHLBI-ESP European American MAF" header="EA" range="0,0.5"/>
            </sub>
        </group>
        
        <group name="Location">
            <sub name="Genomic">
                <field name="chr" label="Chromosome" header="Chr"/>
                <field name="start" label="Start position (bp)" header="Start"/>
                <field name="end" label="End position (bp)" header="End"/>
            </sub>
            <sub name="Transcript">
                <field name="cDNA_postion" label="cDNA position" header="cDNA"/>
                <field name="CDS_position" label="Coding sequence position" header="CDS"/>
                <field name="Protein_position" label="Protein position" header="AA"/>
                <field name="DISTANCE" label="Distance to transcript start site" header="TSS"/>
                <field name="EXON" label="Exon number" header="Exon"/>
                <field name="INTRON" label="Intron number" header="Intron"/>
            </sub>
        </group>
        
        <group name="Gene">
            <sub name="Other">
                <field name="Gene" label="Ensembl gene ID" header="Gene"/>
                <field name="SYMBOL" label="Gene symbol (e.g. HGNC)" header="Symbol"/>
                <field name="Feature" label="Transcript or RegulatoryFeature ID" header="Feature"/>
                <field name="BIOTYPE" label="Transcript biotype" header="Biotype"/>
                <field name="CANONICAL" label="Canonical transcript?" header="Canonical"/>
                <field name="ENSP" label="Ensembl protein ID" header="Protein"/>
                <field name="DOMAINS" label="Overlapping protein domains" header="Domains"/>
                <field name="CCDS" label="Consensus CDS ID" header="CCDS"/>
            </sub>
        </group>
        
        <group name="Consequence">
            <sub name="Other">
                <field name="Consequence" label="Consequence type" header="Consequence"/>
                <field name="SIFT_pred" label="SIFT prediction" header="SIFT"/>
                <field name="SIFT_score" label="SIFT score" header="SIFT score" range="0,1"/>
                <field name="PolyPhen_pred" label="PolyPhen prediction" header="PolyPhen"/>
                <field name="PolyPhen_score" label="PolyPhen score" header="PolyPhen score" range="0,1"/>
                <field name="HGVSc" label="HGVS coding notation" header="HGVSc"/>
                <field name="HGVSp" label="HGVS protein notation" header="HGVSp"/>
                <field name="Amino_acids" label="Amino acids" header="AAs"/>
                <field name="Codons" label="Codons" header="Codons"/>
            </sub>
        </group>
        
        <group name="Regulatory">
            <sub name="Other">
                <field name="MOTIF_NAME" label="Transcription factor binding motif ID" header="Motif"/>
                <field name="MOTIF_POS" label="Motif position" header="MPos"/>
                <field name="MOTIF_SCORE_CHANGE" label="Motif binding score change" header="MChange"/>
                <field name="HIGH_INF_POS" label="High information position?" header="MInfo"/>
            </sub>
        </group>
        
        <!--<group name="" label="">
            <sub name="">
                <field name="" label="" header="" range=""/>
            </sub>
        </group>-->
        
    </fields>
</config>
